#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.reset {
  margin-right: 4px;
  border-radius: 6px;
  border: 1px solid #000;
  width: 75px;
  height: 25px;
  font-weight: 500;
  background-color: #c2c2c2;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.reset:hover {
  background-color: #5b5b5b;
  color: whitesmoke;
}
p{
  margin: 0;
  text-align: left;
}